BookMyTicket/BookMyTicket.Client.MVC/Web References/TheatreServiceWebReference/TheatreService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTheatreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TheatreDTO" nillable="true" type="tns:TheatreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheatreDTO" nillable="true" type="tns:ArrayOfTheatreDTO" />
  <xs:complexType name="TheatreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TheatreDTO" nillable="true" type="tns:TheatreDTO" />
</xs:schema>