BookMyTicket/BookMyTicket.Client.MVC/Web References/ShowServiceReference/ShowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1743/ShowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1743/ShowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1743/ShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShowService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IShowService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IShowService_GetShowsByTheatre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByTheatre" />
  </wsdl:message>
  <wsdl:message name="IShowService_GetShowsByTheatre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByTheatreResponse" />
  </wsdl:message>
  <wsdl:portType name="IShowService">
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowService/GetShows" message="tns:IShowService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowService/GetShowsResponse" message="tns:IShowService_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByTheatre">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowService/GetShowsByTheatre" message="tns:IShowService_GetShowsByTheatre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowService/GetShowsByTheatreResponse" message="tns:IShowService_GetShowsByTheatre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShowService" type="tns:IShowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IShowService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByTheatre">
      <soap:operation soapAction="http://tempuri.org/IShowService/GetShowsByTheatre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowService">
    <wsdl:port name="BasicHttpBinding_IShowService" binding="tns:BasicHttpBinding_IShowService">
      <soap:address location="http://localhost:1743/ShowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>