BookMyTicket/BookMyTicket.Client.MVC/Web References/ShowServiceReference/ShowService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1743/ShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" />
  <xs:element name="GetShows">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" minOccurs="0" name="GetShowsResult" nillable="true" type="q1:ArrayOfShowDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsByTheatre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowsByTheatreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookMyTicket.Services.DTO" minOccurs="0" name="GetShowsByTheatreResult" nillable="true" type="q2:ArrayOfShowDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>